# Basic Libraries for python 
pandas
matplotlib
seaborn

# machie learnign
scikit-learn

# pdf reading 
pypdf
# deep learning
transformers
sentence-transformers
accelerate
huggingface_hub
datasets

# Langchain Installations
langchain
langchain-core
langchain-community
langgraph
langchain[google-genai]

# embedding store
faiss-cpu

# deployment
uvicorn
fastapi
python-multipart
# computer vision
opencv-python

# for beautification of prompt output
rich